{##
 # Twig for the CTA Banner paragraphs
 #}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'paragraphId-' ~ paragraph.id(),
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      <div class="bgCover" style="{{ content.field_foundation_image[0]['#markup'] }}"></div>

      <div class="bannerWrapper">
        {% if content.field_foundation_title[0] is defined %}
          <p class="h1">{{ content.field_foundation_title|field_value }}</p>
        {% endif %}

        {% if content.field_foundation_text[0] is defined %}
          {{ content.field_foundation_text }}
        {% endif %}

        {% if content.field_foundation_cta[0] is defined %}
          {{ content.field_foundation_cta }}
        {% endif %}
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
